/* FONTS
    font-family: 'Crete Round', serif;

    font-family: 'Rubik', sans-serif;
 */


.title{
    height: 0;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    background-color: inherit;
    color: black;
    font-size: 32pt;
    margin-top: 0;
    margin-bottom: 50px;
    border: solid black
}
.background{
    background-color: moccasin;
}

/* Info Section Styling
 */

.info-section{
    border: 8px solid;
    border-radius: 20px 50px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    margin-bottom: 8px;
    page-break-inside: avoid;
}

.section-content{
    padding: 8px 8px;
    display: inline;
    border-radius: 20px 50px;
    background-color: moccasin;
    border-color: inherit;
    font-size: inherit;
    font-family: 'Rubik', sans-serif;
}

.section-title{
    height: 42px;
    display: inline;
    padding-left: 8px;
    border-radius: 20px 50px;
    padding-right: 8px;
    font-family: 'Crete', serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: white;
    font-size: 22pt;
}

.mid-title{
    height: 26px;
    display: inline;
    padding-left: 26px;
    padding-right: 8px;
    font-family: 'Crete', serif;
    font-variant: small-caps;
    font-size: 16pt;
    color: white;
}

.float-right{
    float: right;
}

.section-subtitle{
    display: block;
    margin-bottom: 8px;
    font-size: inherit;
    font-style: italic;
}

.section-row {
    font-size: inherit;
}

.section-row::before, .section-row::after{
    display: table;
    content: " ";
    clear: both;
}

.section-row .section-subtitle{
    margin-top: 1em;
}

/* Section Colors */
#section-fullRound{
    background-color: black;
    border-color: black;
}
#section-fullRound .text{
    color: black;
}
#mid-fullRound .mid-title{
    background-color: black;
    color: #ffffff;
}

#section-standard{
    background-color: darkblue;
    border-color: darkblue;
}
#section-standard .text{
    color: darkblue;
}

#section-move{
    background-color: darkred;
    border-color: darkred;
}
#section-move .text{
    color: darkred;
}

#section-swift{
    background-color: indigo;
    border-color: indigo;
}
#section-swift .text{
    color: indigo;
}


/* Modal Styling */
.modal-open{
    overflow: hidden;
}

.modal-open .modal{
    overflow-x: hidden;
    overflow-y: auto;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    outline: 2px;
    display: none;
}


/* Modifiers depending on screen size of user */

/* Smart phone, portrait */
@media (min-width:    0px) and (max-width:  479px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width: 100%; }
    .modalsize {}
}

/* Smart phone, landscape */
@media (min-width:  480px) and (max-width:  767px) {
    .fontsize { font-size: 11pt; }
    .iconsize { width: 40px; height: 40px;}
    .itemsize { height: 40px; width:  50%; }
    .modalsize {}
}

/* Tablet, portrait */
@media (min-width:  768px) and (max-width:  991px) {
    .fontsize { font-size: 11pt; }
    .iconsize { width: 40px; height: 40px;}
    .itemsize { height: 40px; width:  33%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Tablet, landscape */
@media (min-width:  992px) and (max-width: 1199px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width:  33%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Small desktop screen */
@media (min-width: 1200px) and (max-width: 1599px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width:  25%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Large desktop screen */
@media (min-width: 1600px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width:  20%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Print */
@media print {
    .fontsize { font-size: 10pt; }
    .iconsize { width: 36px; height: 36px;}
    .itemsize { height: 36px; width:  33%; }
    .modalsize {}
}
