.icon-armor-upgrade{background-image: url(img/armor-upgrade.png);}
.icon-drop-weapon{background-image: url(img/drop-weapon.png);}
.icon-fire-dash{background-image: url(img/fire-dash.png);}
.icon-grab{background-image: url(img/grab.png);}
.icon-hammer-break{background-image: url(img/hammer-break.png);}
.icon-hand{background-image: url(img/hand.png);}
.icon-heart-stake{background-image: url(img/heart-stake.png);}
.icon-laser-blast{background-image: url(img/laser-blast.png);}
.icon-light-sabers{background-image: url(img/light-sabers.png);}
.icon-saber-slash{background-image: url(img/saber-slash.png);}
.icon-scalpel-strike{background-image: url(img/scalpel-strike.png);}
.icon-sprint{background-image: url(img/sprint.png);}
.icon-striking-diamonds{background-image: url(img/striking-diamonds.png);}
