.icon-heart-stake{background-image: url(img/heart-stake.png);}
.icon-light-sabers{background-image: url(img/light-sabers.png);}
.icon-scalpel-strike{background-image: url(img/scalpel-strike.png);}
.icon-sprint{background-image: url(img/sprint.png);}
.icon-striking-diamonds{background-image: url(img/striking-diamonds.png);}