.icon-arm-sling{background-image: url(img/arm-sling.png);}
.icon-armor-upgrade{background-image: url(img/armor-upgrade.png);}
.icon-cowboy-holster{background-image: url(img/cowboy-holster.png);}
.icon-drop-weapon{background-image: url(img/drop-weapon.png);}
.icon-earth-worm{background-image: url(img/earth-worm.png);}
.icon-fire-dash{background-image: url(img/fire-dash.png);}
.icon-grab{background-image: url(img/grab.png);}
.icon-hammer-break{background-image: url(img/hammer-break.png);}
.icon-hand{background-image: url(img/hand.png);}
.icon-heart-stake{background-image: url(img/heart-stake.png);}
.icon-laser-blast{background-image: url(img/laser-blast.png);}
.icon-light-sabers{background-image: url(img/light-sabers.png);}
.icon-move{background-image: url(img/move.png);}
.icon-person{background-image: url(img/person.png);}
.icon-power-button{background-image: url(img/power-button.png);}
.icon-reticule{background-image: url(img/reticule.png);}
.icon-run{background-image: url(img/run.png);}
.icon-saber-slash{background-image: url(img/saber-slash.png);}
.icon-scalpel-strike{background-image: url(img/scalpel-strike.png);}
.icon-snatch{background-image: url(img/snatch.png);}
.icon-sprint{background-image: url(img/sprint.png);}
.icon-striking-diamonds{background-image: url(img/striking-diamonds.png);}
.icon-swap-bag{background-image: url(img/swap-bag.png);}
.icon-switch-weapon{background-image: url(img/switch-weapon.png);}
.icon-wind-hole{background-image: url(img/wind-hole.png);}